body{
	margin: 0;
	padding: 0;
	font-family: Segoe UI, Tahoma, Geneva, "Verdana", sans-serif;
}



/* Custom styles on specified objects */

.barrameda-profile{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Hero on html styles */
.hero-interface{
    margin: 0;
}

.hero-upper-half{
    width: 100%;
    height: 50vh;
    background-color: #334B35;
}

.hero-middle{
    width: 100%;
    height: 10vh;
    align-self: center;
    background-color: #000000; 
    z-index: 100;
}