body{
	margin: 0;
	padding: 0;
	font-family: Segoe UI, Tahoma, Geneva, "Verdana", sans-serif;
}



/* Custom styles on specified objects */

.barrameda-profile{
    width: 80%;
    height: auto;
    object-fit: cover;
}